###### Python

# String-Exercises

In [1]:
# 1.)
#count the number of character of string.
tr="google.com"
r=tr.count("o")
print(r)

3

In [2]:
# 2.)
tr="restart"
a=tr.replace("r","$")
print(a)

$esta$t

In [4]:
# 3.)
tr="i am learning python course."
w=len(tr)
print(w)

28

In [5]:
# 4.)
tr="l love banana, banana are my favorite fruit"
q=tr.count("banana")
print(q)

2

In [7]:
# 5.)
tr="I love banana, banana are my favorite fruit"
a=tr.upper()
print(a)

I LOVE BANANA, BANANA ARE MY FAVORITE FRUIT

In [8]:
# 6.)
tr="AEIOU"                     #vowels=AEIOU
s=len(tr)
print(s)

5

# List-Exercises

In [9]:
#1.)

list1=[]

if list1:
    print("list is not empty")
else :
    print("empty list")

empty list

In [21]:
# 2.)

duplicate = [1,1,2,2,3,4,3,4,5,6]
print(list(set(duplicate)))

[1, 2, 3, 4, 5, 6]

In [50]:
#3.)

def common_member(a,b):
    return any(i in b for i in a)

a=[1,2,3,4,5]
b=[5,6,7,8,9]
print(common_member(a,b))

True

In [34]:
#4.)

a=[10,20,30,40,50]
b=[30,40,50]
 
c = []
for i in a:
    if i not in b:
        c.append(i)
print(c)

[10, 20]

In [52]:
#5.)
# find second smallest number

list1=[4,3,2,6,8,1,5]

# using sorted method

print("Second smallest element is:", sorted(list1)[1])

Second smallest element is: 2

In [42]:
#6.)
# find second largest number

list1 = [10, 20, 4, 45, 99]

# using sorted method

print("Second largest element is:", sorted(list1)[-2])

Second largest element is: 45

In [16]:
#7.)
#frequency of the elements in a list

list1 =[1,1,1,1,2,2,2,3,3,3,4,4,5,6,6]

def countfreq(list1):
    freq = {}
    for item in list1:
        if(item in freq):
            freq[item]+=1
        else :
            freq[item] = 1
    print(freq)

countfreq(list1)

{1: 4, 2: 3, 3: 3, 4: 2, 5: 1, 6: 2}

In [25]:
#8.)
# convert a list of multiple integer into a single integer

a=[11,33,50]
print("multiple integer: ",a)
b=int("".join(map(str,a)))
print("single integer:",b)

multiple integer:  [11, 33, 50]
single integer: 113350

In [30]:
#10.)
# list are empty or not
# sample=[{},{},{}]
# sample [{1,2},{},{}]

list1=[{},{},{}]

if list1:
    print("empty list")
else :
    print("list is not empty")
    
list2=[{1,2},{},{}]

if list2:
    print("list is not empty")
else :
    print("empty list")

empty list
list is not empty

In [36]:
#similarity between two list.
#list1=["red","orange","green","blue","white"]
#list2=["black","yellow","green","blue"]

list1=["red","orange","green","blue","white"]
list2=["black","yellow","green","blue"]

['red', 'orange', 'green', 'blue', 'white', 'black', 'yellow', 'green', 'blue']

# dictionary-exercises

In [38]:
#1.)
#sample dictionary(n=5)                  # x,x*x

x={
    1 :1*1,
    2 :2*2,
    3 :3*3,
    4 :4*4,
    5 :5*5
}
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [7]:
#2.)
#combine two dictionary adding values for commomn keys
# d1={'a':100,'b':200,'c':300} 
# d2={'a':300,'b':200,'d':400}

# initializing two dictionaries

d1={'a':100,'b':200,'c':300} 
d2={'a':300,'b':200,'d':400}

# adding the values with common key

C = Counter(d1) + Counter(d2)
print(C)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [8]:
#3.)
#unique values in dictionary

x=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},{"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print("original value " ,x )

y=set(val for dic in x for val in dic.values())
print("unique values :", y)

original value  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
unique values : {'S002', 'S005', 'S007', 'S001', 'S009'}

In [21]:
#4.)
#create and display all combinations of letters,selecting each letter from a different key in dictionary.

d={'1':['a','b'],'2':['c','d']}

import itertools      
d ={'1':['a','b'], '2':['c','d']}
for combo in itertools.product(*[d[k] for k in sorted(d.keys())]):
    print(''.join(combo))

ac
ad
bc
bd

In [24]:
#5.)
# create a dictionary from a string.

str1="w3resource"
my_dict = {}
for letter in str1:
    my_dict[letter] = my_dict.get(letter,0) + 1
print(my_dict)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [5]:
#6.)
#count the values associated with key in dictionary.
#sample data=[{'id':1,'success':true,'name':'Lary'},{'id':2,'success':false,'name':'rabi'},{'id':3,'succes':true,'name':'alex'}]

student =
[{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]
print("Total value associated with key in dictionary :",sum(d['id'] for d in student))
print("Total count of succes true :",sum(d['success'] for d in student))

Total value associated with key in dictionary : 6
Total count of succes true : 2

In [14]:
#7.)
# convert a list into nested dictionary of keys.

y=['red','blue','pink']
x=['apple','banana','orange']

list1={}
print(y)
print(x)

['red', 'blue', 'pink']
['apple', 'banana', 'orange']

In [5]:
#8.)
# sort a list alphabetically in a dictionary.
#alphabetically in a dictionary.

dict={
    "L1":[12,54,76,31],
    "L2":[1,7,4,2],
    "L3":[76,86,53,90],
    "L4":[60,40,70,10]
}

print("\n before sorting :")
for x in dict.items():
    print(x)

print("\n after sorting :")
for i,j in dict.items():
    sorted_dict={i:sorted(j)}
    print(sorted_dict)

 before sorting :
('L1', [12, 54, 76, 31])
('L2', [1, 7, 4, 2])
('L3', [76, 86, 53, 90])
('L4', [60, 40, 70, 10])

 after sorting :
{'L1': [12, 31, 54, 76]}
{'L2': [1, 2, 4, 7]}
{'L3': [53, 76, 86, 90]}
{'L4': [10, 40, 60, 70]}

In [13]:
#9.)
#write a python program to sort counter by value.
#sample data:{'maths':81,'physics':83,'chemestry':87}

from collections import Counter
x=Counter({'maths':81,'physics':83,'chemestry':87})
print(x.most_common())

[('chemestry', 87), ('physics', 83), ('maths', 81)]

In [14]:
#10.)
#write a python program to matchkey values in two dictionaries.go to the editor

#sample data:{'key1':1,'key2':3,'key3':2},{'key1':1,'key2':2}

x = {'key1':1, 'key2':3, 'key3':2}
y = {'key1':1, 'key2':2}
for (key, value) in set(x.items()) & set(y.items()):
    print('%s: %s is present in both x and y' % (key, value))

key1: 1 is present in both x and y

# truple-exercises

In [6]:
# 1.)
#write a python program to create a tuple with different data types.

list1 = ("apple", "banana", "cherry")
list2 = (7, 3, 4, 2, 8)
list3 = (True, False, True)
list4 = (34.43,67.32,12.21)
list5 = (23,64,("orange","mango"),43,90)
list6 = (10,40,["apple","mango"],20,20)

print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)

('apple', 'banana', 'cherry')
(7, 3, 4, 2, 8)
(True, False, True)
(34.43, 67.32, 12.21)
(23, 64, ('orange', 'mango'), 43, 90)
(10, 40, ['apple', 'mango'], 20, 20)

In [17]:
# 2.)
#write a python program to add an item in a tuple

tuple1 = (10,8,20,30,40)
print("tuple item =", tuple1)
tuple2 = tuple1 + (70,)
print("tuple item =", tuple2)
tuple3 = tuple2 + (80,90)
print("tuple item =", tuple3)
tuple4 = tuple1[2:4] + (55,73) + tuple1[3:]
print("tuple item =", tuple4)

tuple item = (10, 8, 20, 30, 40)
tuple item = (10, 8, 20, 30, 40, 70)
tuple item = (10, 8, 20, 30, 40, 70, 80, 90)
tuple item = (20, 30, 55, 73, 30, 40)

In [18]:
# 3.)
#write a python program a convert a tuple to a string.

tup = ('o','r','a','n','g','e')
str1 = ''.join(tup)
print(str1)

orange

In [19]:
# 4.)
# write a python program to find the repeted items of a tuple

tuple1 = (1,2,6,4,7,4,7,9,0,4)
x = tuple1.count(4)
print(x)

3

In [20]:
# 5.)
# write a python program to find the length of a tuple.

tuple1 = ("python")
print(len(tuple1))

6

In [23]:
# 6.)
# write a python program to convert a tuple to a dictionary.

tuple1 = ((1, "k"),(2, "r"))
print(dict((y, x) for x, y in tuple1))

{'k': 1, 'r': 2}

In [28]:
# 7.)
# write a python program to replace last value of tuples in a list.
# sample list:[(10,20,40),(40,50,60),(70,80,90)]

y = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in y])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [32]:
# 8.)
# write a python program to replace last value of tuples in a list.
#sample data :[(),(),('',),('a','b'),('a','b','c'),('d')]

def remove(list1):
    list1 = [t for t in list1 if t]
    return list1

list1=[(),(),('',),('a','b'),('a','b','c'),('d')]
print(remove(list1))

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [36]:
# 9.)
# write a python program to sort a tuple by its float element.
#sample data:[('item1','12.20'),('item2','15.20'),('item3','24.5')]

tuple1 = [('item1','12.20'),('item2','15.20'),('item3','24.5')]
print(sorted(tuple1, key=lambda x:float(x[1]) ,reverse = True))

[('item3', '24.5'), ('item2', '15.20'), ('item1', '12.20')]

In [6]:
#10.)
# write a python program to count the elements in a list until an element in a tuple

# Python program to count the items
# until a list is encountered

num = [10,20,30,(10,20),40]
x = 0
for n in num:
    if isinstance(n, tuple):
        break
    x += 1
print(x)

3

# set-exercises

In [12]:
# 1.)
# write a python program to iteration over sets.

set1 = set("python")

# Iterating using for loop
for val in set1:
    print(val)

n
o
t
y
h
p

In [13]:
# 2.)
# write a python program to add member(s) in a set.

set1 = {"apple", "banana", "cherry"}

set1.add("orange")

print(set1)

{'banana', 'apple', 'cherry', 'orange'}

In [14]:
# 3.)
# write a python program to remove item(s) from set

set1 = {"apple", "banana", "cherry"}

set1.remove("banana")

print(set1)

{'apple', 'cherry'}

In [15]:
# 4.)
# write a python program to remove an item from a set if it is present in the set.

set1 = {"apple", "banana", "cherry"}

set1.remove("banana")

print(set1)

set1 = {"apple", "banana", "cherry"}

set1.discard("banana")

print(set1)

{'apple', 'cherry'}
{'apple', 'cherry'}

In [16]:
# 5.)
# write a python program to create an intersection of set.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [17]:
# 6.)
# write a python program to create a symmetric difference

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'microsoft', 'google', 'cherry'}

In [19]:
# 7.)
# write a python program to find maximum and the minimum value in a set.

set1 = {2,6,8,9,10}
print(max(set1))

print(min(set1))

10
2

In [20]:
# 8.)
# write a python program to find the length of a set.

set1 = {3,5,1,6,8,7}
print(len(set1))

6

# python conditional statements and loops

In [29]:
# 2.)
# write a python program to count the number of even and odd numbers from a series of numbers.
# sample numbers : number = (1,2,3,4,5,6,7,8,9)

numer = {1,2,3,4,5,6,7,8,9}

count_odd = 0
count_even = 0

for x in numer:
        if not x % 2:
            count_even+=1
        else:
            count_odd+=1
print("Number of even number :",count_even)
print("Number of odd number :",count_odd)

Number of even number : 4
Number of odd number : 5

In [30]:
# 3.)
# write a python program that prints all the numbers from 0 to 6 except 3 and 6.

# Python program that prints all the numbers from 0 to 6 except 3 and 6.

for i in range(7):
    if(i==3):
        pass
    elif(i==6):
        pass
    else:
        print(i)

0
1
2
4
5

In [31]:
# 4.)
# write a python program to get the fibonacci series between 0 to 50.
# Note : The Fibonacci Sequence is the series of numbers :
# 0, 1, 1, 2, 3, 5, 8, 13, 21, ....
# Every next number is found by adding up the two numbers before it.

x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

In [33]:
# 5.)
# write a python program which takes two digits m(row) and n(column) as input and generator a two dimentional array.the element
# value in the i-th row and j-th column of the array should be i*j 
#Note :
#i = 0,1.., m-1
#j = 0,1, n-1.

m=int(input("Row:"))
n=int(input("Column:"))
matrix=[[0 for col in range(n)] for row in range(m)]
for row in range(m):
    for col in range(n):
        matrix[row][col]=row*col
print(matrix)

Row:3
Column:4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [1]:
# 6.)
# write a python program to find nubers between 100 and 400(both include) where each digit of a number.the numbers obtained 
# should be printed in a comma-separated sequence

items = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        items.append(s)
print( ",".join(items))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [13]:
# 7.)
#  write a python program to print alphabet pattern 'A'.

str1="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            str1=str1+"*"    
        else:      
            str1=str1+" "    
    str1=str1+"\n"    
print(str1);

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [17]:
# 8.)
# write a python program to print alphabet pattern 'P'.

str1="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 3) and column > 0 and column < 5) or ((column == 5 or column == 1)
                                                                                       and (row == 1 or row == 2))):    
            str1=str1+"*"    
        else:      
            str1=str1+" "    
    str1=str1+"\n"    
print(str1);

 ****
 *   *
 *   *
 ****
 *
 *
 *

In [19]:
# 9.)
# write a python program to cheak triangle is valid or not.

a = int(input('Please Enter the First Angle of a Triangle: '))
b = int(input('Please Enter the Second Angle of a Triangle: '))
c = int(input('Please Enter the Third Angle of a Triangle: '))

total = a + b + c

if total == 180:
    print("\nThis is a Valid Triangle")
else:
    print("\nThis is an Invalid Triangle")

Please Enter the First Angle of a Triangle: 45
Please Enter the Second Angle of a Triangle: 75
Please Enter the Third Angle of a Triangle: 60

This is a Valid Triangle

In [21]:
# 10.)
# write a python program to create the multiplication table(from 1 to 10)of a number.

n = int(input("Input a number: "))

for i in range(1,11):
    print(n,'x',i,'=',n*i)

Input a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [23]:
# 11.)
# write a python program to construct the following pattern, using a nested loop number. 

for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

# function = exercises

In [31]:
# 1.)
# write a python function to find the max of three numbers.

def maximum(a, b, c):
    list = [a, b, c]
    return max(list)

a = 10
b = 14
c = 12
print(maximum(a, b, c))

14

In [2]:
# 2.)
# write a python function to sum all the number in list.

x=[1,2,3,4,5]
vr=sum(x)
print(vr)

15

In [4]:
# 3.)
# write a python function to multiply all the numbers in a list.

list1=[3,4,2]
x = lambda a, b, c : a * b * c
print(x(3,4,2))

24

In [11]:
# 4.)
# write a python function that accepts a string and calculate the number of upper case letters and lower case letters.

tr = "Hello, And Welcome To My World!"

x = tr.casefold()

print(x)

y = tr.upper()

print(y)

hello, and welcome to my world!
HELLO, AND WELCOME TO MY WORLD!

In [12]:
# 5.)
# write a python function that takes a list and returns a new list with unique elements of first list.

def f(l):

    x = []

    for a in l:

        if a not in x:

            x.append(a)

    return x

print(f([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [15]:
# 6.)
# write a python program to print the even numbers from a given list.

list1 = [30, 41, 6, 45, 55, 83]

for num in list1:
    if num % 2 == 0:
        print(num, end="  ")

30  6

In [18]:
# 7.)
# write a python function that checks whether a passed string is palindrome or not.

def isPalindrome(s):
    return s == s[::-1]


s = "madam"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

In [19]:
# 8.)
# write a python program to access a function inside a function.

def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(4))

9

In [20]:
# 9.)
# write a python program to detect the number of local variables declared in a function.

def abc():
    x = 1
    y = 2
    str1= "python3"
    print("DA Exercises")

print(abc.__code__.co_nlocals)

3